body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative; /* Add this */
}

#vanta-bg {
    width: 100%;
    height: 100%;
    position: absolute; /* Change this from 'fixed' to 'absolute' */
    z-index: -1; /* Add this */
}

h1, h2 {
    color: lightblue;
}

h3 {
    color: pink;
}

.btn-primary {
    background-color: #0d95d8;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}